.DS_Store
build*/
cmake-build-*/
.vscode/.ropeproject/
__pycache__/
*.pyc
*.o
*.a
*.so
*.dylib
*.exe

# Huge/generated data
data/raw/**
data/precomputed/**
data/runtime/**
data/output/**
!data/.gitkeep
!data/raw/.gitkeep
!data/precomputed/.gitkeep
!data/runtime/.gitkeep
!data/output/.gitkeep


build/
cmake-build-*/
__pycache__/
*.pyc
.DS_Store
